<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kafei.usercoffee.dao.UserDao">

    <!-- 用户注册 -->
    <insert id="userRegister" parameterType="java.util.Map">
        INSERT INTO SYS_USER (
                USERNAME,
                REALNAME,
                PASSWORD,
                REALAGE,
                BIRTHDATE,
                EMAIL,
                MOBILEPHONE,
                LUCKYCOLOR,
                CREATEDATE,
                LASTLOGINTIME
            )
            VALUES
                (
                    #{username,jdbcType=VARCHAR},
                    #{real_name,jdbcType=VARCHAR},
                    #{password,jdbcType=VARCHAR},
                    #{real_lage,jdbcType=INTEGER},
                    #{birthday},
                    #{myemail,jdbcType=VARCHAR},
                    #{telphone,jdbcType=VARCHAR},
                    #{lovecolor,jdbcType=VARCHAR},
                    #{createDate},
                    #{lastlogintime}
                )
    </insert>
    <delete id="delRole" >
        DELETE FROM SYS_ROLE WHERE ID=#{id}
    </delete>

    <!-- 根据用户名查询用户信息 -->
    <select id="queryUserInformationByUserName" resultType="com.kafei.usercoffee.model.User">
        SELECT
            ID,
	        USERNAME,
	        REALNAME,
	        PASSWORD,
	        REALAGE,
	        BIRTHDATE,
	        EMAIL,
	        MOBILEPHONE,
	        LUCKYCOLOR,
	        CREATEDATE,
	        LASTLOGINTIME,
	        ENABLED,
	        ACCOUNTNONEXPIRED,
	        ACCOUNTNONLOCKED,
	        CREDENTIALSNONEXPIRED
        FROM
            SYS_USER
        WHERE 1=1
            AND  USERNAME = #{username}
    </select>

    <!-- 根据用户名查询用户权限信息 -->
    <select id="queryUserPermissionByUserName" resultType="com.kafei.usercoffee.model.Permission">
        SELECT
            P.ID,
            P.URL,
            P.PERMNAME,
            P.PERMTAG
        FROM
            SYS_USER U
        INNER JOIN SYS_USER_ROLE U_R ON U.ID = U_R.USERID
        INNER JOIN SYS_ROLE_PERMISSION R_P ON U_R.ROLEID = R_P.ROLEID
        INNER JOIN SYS_PERMISSION P ON R_P.PERMISSIONID = P.ID
        WHERE
            U.USERNAME = #{username}
    </select>

    <!-- 查询所有去权限 -->
    <select id="queryAllPermission" resultType="com.kafei.usercoffee.model.Permission">
        SELECT
            P.ID,
            P.URL,
            P.PERMNAME,
            P.PERMTAG
        FROM
            SYS_USER U
        INNER JOIN SYS_USER_ROLE U_R ON U.ID = U_R.USERID
        INNER JOIN SYS_ROLE_PERMISSION R_P ON U_R.ROLEID = R_P.ROLEID
        INNER JOIN SYS_PERMISSION P ON R_P.PERMISSIONID = P.ID
    </select>

    <select id="roleInfoList" parameterType="java.util.Map" resultType="com.kafei.usercoffee.model.Role">
        SELECT *
        FROM
        SYS_ROLE LIMIT #{statr},#{end}
    </select>
    <!-- 查询角色分页总条数 -->
    <select id="roleAllCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM SYS_ROLE
    </select>
</mapper>