<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>咖啡の缺糖</title>
    <link rel="shortcut icon" th:href="@{/static/images/0.jpg}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" th:href="@{/static/css/index/css/main.css}" />
</head>
<body>

<!-- Page Wrapper -->
<div id="page-wrapper">

    <!-- Banner -->
    <section id="banner">
        <div class="inner">
            <div class="logo"><img th:src="@{/static/images/index/head.jpg}" class="xwcms"/></div>
            <h2>咖啡の缺糖</h2>
            <p>you try it yourself <a href="http://www.youtiy.com">kafei</a></p>
        </div>
    </section>

    <!-- Wrapper -->
    <section id="wrapper">

        <!-- One -->
        <section id="one" class="wrapper spotlight style1">
            <div class="inner">
                <a href="#" class="image"><img th:src="@{/static/images/index/pic01.jpg}" alt="" /></a>
                <div class="content">
                    <h2 class="major">想了解我吗？【About me】</h2>
                    <p>本人诚实肯干，动手与学习能力强，能吃苦耐劳，对工作认真负责，性格内外兼具，诚恳，虚心好，有耐心，有一定组织与管理能力，善于沟通，在过去几年多的工作期间中严格要求自己，把专业知识与实践相结合，枳极地参加各种社会活动，将我所学用于实践，不断增加自己的个人能力。</p>
                    <a href="http://www.youtiy.com" class="special">查看详情</a>
                </div>
            </div>
        </section>

        <!-- Two -->
        <section id="two" class="wrapper alt spotlight style2">
            <div class="inner">
                <a href="#" class="image"><img th:src="@{/static/images/index/pic02.jpg}" alt="" /></a>
                <div class="content">
                    <h2 class="major">我的经验【Experience】</h2>
                    <p>负责商网形象[VisCEO]网页设计/制作/网站管理等方面工作。Possess eight years of professional experience in web designing.Extensive knowledge of current web standards, CSS and HTML.</p>
                    <a href="http://www.youtiy.com" class="special">查看详情</a>
                </div>
            </div>
        </section>

        <!-- Three -->
        <section id="three" class="wrapper spotlight style3">
            <div class="inner">
                <a href="#" class="image"><img th:src="@{/static/images/index/pic03.jpg}" alt="" /></a>
                <div class="content">
                    <h2 class="major">我的技能【What I do】</h2>
                    <p>精通各种网站制作软件photoshop、Dreamweaver、fireworks、flash等，精通HTML、CSS+DIV、XHTML;目前自学：Javascript、Actions。能够充分理解产品策划思路及理念，配合产品经理和研发人员实现产品各种界面的视觉设计。
                    </p>
                    <a href="http://www.youtiy.com" class="special">查看详情</a>
                </div>
            </div>
        </section>

        <!-- Four -->
        <section id="four" class="wrapper alt style1">
            <div class="inner">
                <h2 class="major">代表作品集【portfolio】</h2>
                <p>这里展示的是我的一些作品，在工作之余，我还喜欢做一些原创的设计，在每次的尝试中都有意外的收获，在以后的时间里，我会继续一如既往地坚持做下去。</p>
                <section class="features">
                    <article>
                        <a href="#" class="image"><img th:src="@{/static/images/index/pic04.jpg}" alt="" /></a>
                        <h3 class="major">《个人电子简历周元俊博客下载》</h3>
                        <p>快毕业了，可一切都还没有准备好，走过那条曾经来时的路，心生感慨，三年了，这里曾留给我多少美好的回忆，如今我们就要各奔东西，何时何地我们才会相聚？</p>
                        <a href="http://www.youtiy.com" class="special">查看详情</a>
                    </article>
                    <article>
                        <a href="#" class="image" style="overflow:hidden;"><img th:src="@{/static/images/index/pic05.jpg}" alt=""/></a>
                        <h3 class="major">DW网页设计模板《Junny》</h3>
                        <p>快毕业了，可一切都还没有准备好，走过那条曾经来时的路，心生感慨，三年了，这里曾留给我多少美好的回忆，如今我们就要各奔东西，何时何地我们才会相聚？</p>
                        <a href="http://www.youtiy.com" class="special">查看详情</a>
                    </article>
                    <article>
                        <a href="#" class="image"><img th:src="@{/static/images/index/pic06.jpg}" alt="" /></a>
                        <h3 class="major">《Dreamweaver网页制作模板》</h3>
                        <p>不谈情怀，不说感慨，只聊技术，此款网页设计采用Dreamweaver制作，DIV+CSS布局，包含五页，页面简洁，代码结构简单，网站中的元素包含文字、图像和声音，网站开发过程中运用了CSS、表格、表单、超链接、层和行为等技术。</p>
                        <a href="http://www.youtiy.com" class="special">查看详情</a>
                    </article>
                    <article>
                        <a href="#" class="image"><img th:src="@{/static/images/index/pic07.jpg}" alt="" /></a>
                        <h3 class="major">《网页设计作业》</h3>
                        <p>时间过得太快，转眼间这学期又要临近尾声了，于是烦心的大作业又来了，也许你早有准备，胜券在握，也许你抱怨好多还不懂，不知从何下手，不管如何，今天你既然来到了这里，怎么忍心让你空手而回？以下原创网页课程设计是为你而设计，但愿能给你带来一些帮助，这样也不负此文标题的拟定了！</p>
                        <a href="http://www.youtiy.com" class="special">查看详情</a>
                    </article>
                </section>
                <ul class="actions">
                    <li><a href="#" class="button">Browse All</a></li>
                </ul>
            </div>
        </section>

    </section>

    <!-- Footer -->
    <section id="footer">
        <div class="inner">
            <h2 class="major">快来撩我吧【get in touch with me】</h2>
            <p>若觉得我还不错，就请联系我吧，在未来的日子里，我愿将从底做起，发挥自己的主动性极能力，竭诚为公司的发展增添光彩</p>
            <form method="post" action="#">
                <div class="field">
                    <label for="name">姓名</label>
                    <input type="text" name="name" id="name" />
                </div>
                <div class="field">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" />
                </div>
                <div class="field">
                    <label for="message">留言</label>
                    <textarea name="message" id="message" rows="4"></textarea>
                </div>
                <ul class="actions">
                    <li><input type="submit" value="发送" /></li>
                </ul>
            </form>
            <ul class="contact">
                <li class="fa-home">
                    鹿港小镇<br />
                    玉玲街#1047<br />
                </li>
                <li class="fa-phone">(999) 000-0000</li>
                <li class="fa-envelope"><a href="#">2115627384@qq.com</a></li>
                <li class="fa-qq"><a href="#">2115627384</a></li>
                <li class="fa-weixin"><a href="#">咖啡缺点糖</a></li>
                <li class="fa-weibo"><a href="#">咖啡@周末</a></li>
            </ul>
            <ul class="copyright">
                <li>&copy;youtiy.com</li><li>More Templates <a href="http://www.youtiy.com/" target="_blank" title="咖啡缺糖">咖啡缺糖</a> - Collect from <a href="http://www.youtiy.com/" title="咖啡缺糖" target="_blank">咖啡缺糖</a></li>
            </ul>
        </div>
    </section>

</div>

<!-- Scripts -->
<script th:src="@{/static/js/index/js/skel.min.js}"></script>
<script th:src="@{/static/js/index/js/jquery.min.js}"></script>
<script th:src="@{/static/js/index/js/jquery.scrollex.min.js}"></script>
<script th:src="@{/static/js/index/js/util.js}"></script>
<script th:src="@{/static/js/index/js/main.js}"></script>
</body>
</html>