<!DOCTYPE html>
<html lang="zn">
<head>
    <meta charset="UTF-8">
    <title>咖啡の后台</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <style>
        .leftMain .layui-icon {
            margin-right: 5px;
        }
    </style>
</head>
<body class="layui-layout-body">

<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">咖啡の后台</div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a id="logina" href="javascript:;">
                    <img id = "imgId" src="" class="layui-nav-img"> <span id="b"></span>
                </a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="/PageJumpController/BasicData">基本资料</a>
                    </dd>
                    <dd>
                        <a href="">安全设置</a>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item layui-nav-itemed">
                <a href="/"><i class="layui-icon layui-icon-logout"></i>注销</a>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree leftMain" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;"><i class="layui-icon">&#xe770;</i>用户</a>
                    <dl class="layui-nav-child">
                        <dd class="layui-this">
                            <a href="/PageJumpController/sysUserInfo">咖啡の用户</a>
                        </dd>
                        <dd>
                            <a href="/PageJumpController/LayuiVideo">咖啡の视频</a>
                        </dd>
                        <dd>
                            <a href="/permInfo">咖啡の权限</a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon">&#xe6b2;</i>咖啡の计划</a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="/PageJumpController/DailyPlan"><i class="layui-icon">&#xe612;</i>每日の计划</a>
                        </dd>
                        <dd>
                            <a href="/PageJumpController/MonthlyPlan"><i class="layui-icon">&#xe68e;</i>每月の计划</a>
                        </dd>
                        <dd>
                            <a href="/PageJumpController/PlanAll"><i class="layui-icon">&#xe63b;</i>计划のALL</a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">知识库</a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="self_help.html"><i class="layui-icon">&#xe6b2;</i>自助问题</a>
                        </dd>
                        <dd>
                            <a href="index2.html"><i class="layui-icon">&#xe60a;</i>内部知识</a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">套餐管理</a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="setmealManage.html"><i class="layui-icon">&#xe6b2;</i>套餐管理</a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <iframe id="rightMain" src="/PageJumpController/defaultHome" style="width:100%;height: 100%;"></iframe>
    </div>
    <div class="layui-footer">
        <!-- 底部固定区域 -->
        <p style="text-align:center"><i>所有权归.咖啡の缺糖</i></p>
    </div>
</div>
</body>
<script src="/static/layui/layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use(['element', 'layer', 'jquery'], function () {
        var element = layui.element, $ = layui.jquery;
        var layer = layui.layer;
        //一些事件监听
        element.on('tab(demo)', function (data) {
            layer.msg('切换了：' + this.innerHTML);

        });
        $(document).ready(function () {
            $('.leftMain a').on("click", function (e) {
                e.preventDefault();
                var href = $(this).attr('href');
                var iframe = $('#rightMain').attr("src", href);
            });
            var userId = getQueryVariable('userId');
            $('.layui-layout-right a').on("click", function (e) {
                e.preventDefault();
                var href = $(this).attr('href');
                if("/"!==href){
                var iframe = $('#rightMain').attr("src", href+"?userId="+userId);
                } else {
                    window.location.href="http://localhost/";
                }
            });
            var login = getQueryVariable('loginname');
            var avatar = getQueryVariable('avatar');

            $("#b").html(login);
            $("#imgId").attr('src',avatar);
        });
    });
    function getQueryVariable(variable) {
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split("=");
            if (pair[0] == variable) {
                return decodeURI(pair[1]);
            }
        }
        return (false);
    }
</script>
</html>