<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户下所有角色</title>
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all">
</head>
<body>
<table id="roleTable" class="layui-hide" lay-filter="roleTable"></table>
<input type="hidden" th:value="${userId}" id="userId"/>
<script type="text/html" id="roleBar">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="roleAuthor">角色の授权</a>
</script>
<script th:src="@{/static/layui/layui.all.js}"></script>
<script type="text/html" id="zizeng">
    {{d.LAY_TABLE_INDEX+1}}
</script>
<script>
    layui.use(['form', 'layer', 'table', 'jquery'], function () {
        var form = layui.form
            , layer = layui.layer
            , $ = layui.jquery,
            table = layui.table;
        //第一个实例
        table.render({
            elem: '#roleTable'
            , id: 'roleTable'
            , height: 530
            //,width:1130
            , url: '/LoginController/userAllroleInfoList?userId='+$("#userId").val()//数据接口
            //,toolbar: '#roletoolbar' //开启头部工具栏，并为其绑定左侧模板
            , page: true //开启分页
            , totalRow: true //开启合计行
            , limit: 10   //默认十条数据一页
            , limits: [10, 20, 30, 50]  //数据分页条
            , cols: [
                [ //表头
                    {type: 'checkbox', fixed: 'left'}
                    , {field: 'zizeng', type: 'numbers', title: '序号', width: 80, fixed: 'left'}
                    , {field: 'id', title: 'ID', hide:true,width: 80, sort: true, fixed: 'left'}
                    , {field: 'rolename', title: '角色名称', sort: true}
                    , {field: 'describe', title: '角色描述'}
                    , {fixed: 'right', title: '操作', toolbar: '#roleBar', width: 220}
                ]
            ]
        });
        //监听行工具事件
        table.on('tool(roleTable)', function (obj) {
            var data = obj.data;
           if (obj.event === 'roleAuthor') {
                var index = layer.open({
                    title: '角色の授权',
                    type: 2,
                    area: ['420px', '330px'],
                    maxmin: true,
                    shadeClose: true,
                    content: '/roleAuthorization?roleId='+data.id,
                    shade: 0 // 不显示遮罩
                });
                layer.full(index);
            }
        });
    });
</script>
</body>
</html>