<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>咖啡の用户</title>
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all">
</head>
<body>
<table id="userTable" class="layui-hide" lay-filter="userTable"></table>
<script th:src="@{/static/layui/layui.all.js}"></script>
<script type="text/html" id="usertool">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-even="addUser" id="addUser">添加の用户</button>
        <button class="layui-btn layui-btn-sm" lay-even="getCheckLength">删除の用户</button>
        <button class="layui-btn layui-btn-sm" lay-even="isAll">修改の用户</button>
    </div>
</script>
<script type="text/html" id="zizeng">
    {{d.LAY_TABLE_INDEX+1}}
</script>
<script>
    layui.use(['form', 'layer', 'table', 'jquery'], function () {
        var form = layui.form
            , layer = layui.layer
            , $ = layui.jquery,
            util = layui.util,
            table = layui.table;
        //第一个实例
        table.render({
            elem: '#userTable'
            , id: 'userTable'
            , height: 530
            //,width:1130
            , url: '/LoginController/userInfoList' //数据接口
            //,toolbar: '#roletoolbar' //开启头部工具栏，并为其绑定左侧模板
            , page: true //开启分页
            , toolbar: '#usertool' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
            , totalRow: true //开启合计行
            , limit: 10   //默认十条数据一页
            , limits: [10, 20, 30, 50]  //数据分页条
            //templet:'#zizeng'
            , cols: [
                [ //表头
                    {type: 'checkbox', fixed: 'left'}
                    , {field: 'zizeng', type: 'numbers', title: '序号', width: 40, fixed: 'left'}
                    , {field: 'id', title: 'ID', hide: true, width: 80, sort: true, fixed: 'left'}
                    , {field: 'username', title: '用户名称'}
                    , {field: 'realname', title: '真实姓名'}
                    , {field: 'password', title: '密码'}
                    , {field: 'realage', hide: true, title: '真实年龄'}
                    , {field: 'birthDate', hide: true, title: '出生日期'}
                    , {field: 'email', title: '电子邮箱'}
                    , {field: 'mobilePhone', title: '手机号',width: 120}
                    , {field: 'luckyColor', hide: true, title: '幸运颜色'}
                    , {
                    field: 'createDate', title: '创建日期',
                    templet: function (d) {
                        if (d.createDate == null) {
                            return "";
                        }
                        return util.toDateString(d.createDate.time, "yyyy-MM-dd HH:mm:ss");
                    }
                }
                    , {
                    field: 'lastLoginTime', title: '最后登录时间',
                    templet: function (d) {
                        if (d.lastLoginTime == null) {
                            return "";
                        }
                        return util.toDateString(d.lastLoginTime.time, "yyyy-MM-dd HH:mm:ss");
                    }
                }
                    , {field: 'enabled', title: '是否可用'}
                    , {field: 'accountNonExpired', title: '是否过期'}
                    , {field: 'accountNonLocked', title: '是否锁定'}
                    , {field: 'credentialsNonExpired', hide: true, title: '证书是否过期'}
                    /*, {fixed: 'right', title: '操作', toolbar: '#userBar', width: 190}*/
                ]
            ]
        });
        //监听行工具事件
        table.on('tool(roleTable)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                    layer.close(index);
                    //向服务端发送删除指令
                    $.ajax({
                        url: "/LoginController/delRole",
                        type: "POST",
                        data: {"id": data.id},
                        dataType: "json",
                        success: function (result) {
                            if (result.code === 1) {
                                layer.msg(result.msg);
                            } else {
                                layer.msg(result.msg);
                            }
                            table.reload('roleTable', {})    //删除之后,刷新表格
                        }
                    });
                });
            } else if (obj.event === 'edit') {
                layer.open({
                    title: '编辑の角色',
                    type: 1,
                    area: ['420px', '330px'],
                    btn: ['确定', '取消'],
                    maxmin: true,
                    shadeClose: true,
                    content: $('#editForm'),
                    shade: 0 // 不显示遮罩
                    , success: function (layero, index) {
                        $('#id').val(data.id);
                        $('#rename').val(data.rolename);
                        $('#des').val(data.describe);
                    }, btn1: function (index, layero) {
                        $.ajax({
                            url: '/LoginController/editRoleInfo',
                            type: 'POST',
                            dataType: 'json',
                            data: {id: $('#id').val(), rolename: $('#rename').val(), des: $('#des').val()},
                            success: function (msg) {
                                var code = msg.code;
                                if (code === 200) {
                                    layer.msg(msg.msg, {icon: 6});
                                    layer.closeAll();
                                    table.reload('roleTable', {});//弹出层结束后，刷新主页面
                                } else {
                                    layer.msg(msg.msg, {icon: 5});
                                }
                            }
                        });
                    }
                });
            }
        });
        $("#addUser").click(function () {
            var index = layer.open({
                type: 2,
                title: '添加の用户',
                maxmin: true,
                shadeClose: true,
                content: '/addUser',
                end: function () {
                }
            });
            layer.full(index);
        });
    });
</script>
</body>
</html>